# Port for ResQAlloc WebSocket and REST API
PORT=5000

# Local MongoDB (default)
MONGO_URI=mongodb://127.0.0.1:27017/resqalloc?directConnection=true

# MongoDB Atlas (Cloud) Example:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/resqalloc?retryWrites=true&w=majority
